#contactcontainer {
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
    max-width: 30%;
    margin: 20px;

    aside {
        flex-basis: 30%;
    }
    section {
        flex-basis: 60%;
    }
}

.socials {
    display: flex;
    flex-direction: row ;
    flex-wrap: nowrap;
    justify-content: space-evenly;

    img {
        margin: 5px;
        width: 50px;
        height: auto;
    }
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }