nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1em 0;
  margin: 0 30px;
  /* border-bottom: 10px solid #000; */
}


// #contactcontainer {
//   display: flex;
//   flex-direction: row;
//   /* border: 10px #000000 solid; */
//   justify-content: space-evenly;