/* CONTACT */
#contactcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 100%;
  max-width: 100%;
  margin: 20px;
}
#contactcontainer aside {
  flex-basis: 30%;
}
#contactcontainer section {
  flex-basis: 60%;
}

@media (max-width: 600px) {
  .contact {
    max-width: 100%;
  }

  input[type=submit] {
    width: 100%;
  }
}
.socials {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: left;
}
.socials img {
  margin: 5px;
  width: 50px;
  height: auto;
}

#where {
  margin-top: 30px;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=submit] {
  width: 20%;
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 14px 20px;
  box-sizing: border-box;
  margin: 8px 0;
  font-size: 16px;
  resize: none;
}

/* END CONTACT */
/* NAV */
nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1em 0;
  margin: 0 30px;
}

/* END NAV */
/* BLOG */
/* Create three equal columns that sits next to each other */
.column {
  flex: 30%;
  max-width: 30%;
  margin: 20px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 1200px) {
  main {
    margin: 30px;
  }

  .column {
    max-width: 100%;
  }
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  main {
    margin: 0;
  }

  .column {
    flex: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }

  .column img {
    width: 100%;
    padding: 50px 0 0 0;
    margin: 0;
    border: 0;
  }

  .column p {
    padding: 0 30px 50px 30px;
  }

  .column h1 {
    padding: 0 30px;
  }

  article {
    margin: 0;
    padding: 0;
  }

  .mainhead {
    padding: 50px 30px 0 30px;
    margin: 0;
  }

  /* out of time to make a mobile-only nav dropdown */
  /* nav {
    display: none;
  } */
}
/* END BLOG */
/* ABOUT SECTION */
.resume {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: justify;
  flex: 30%;
  max-width: 30%;
  margin: 20px;
}

.topbar {
  display: flex;
  /* flex-wrap: nowrap; */
  /* flex-basis: 100%; */
  /* margin: 20px 0;  */
  /* justify-content: space-between; */
}

button {
  justify-content: space-between;
  width: 50px;
}

/* END ABOUT SECTION */
/* FROM MAIN.SCSS */
body {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 1.7em;
  margin: 0;
  padding: 0;
}

#indexbody {
  background-image: url("../images/bg1.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
}

@media (max-width: 1200px) {
  #indexbody {
    background-image: url("../images/bg1t.png");
  }
}
body a {
  text-decoration: none;
  color: inherit;
}

.button {
  background-color: #000;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  padding: 10px;
}

.mainhead {
  font-family: "Montserrat", sans-serif;
  font-size: 42px;
  font-weight: 900;
  padding: 30px;
  align-self: stretch;
  flex-basis: 100%;
  margin: 20px 0;
}

footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 10px;
}

main {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* END MAIN */
/* INDEX PAGE */
#index {
  flex-direction: column;
  height: 100vh;
  align-items: flex-start;
  align-content: stretch;
  margin: 30px;
}

#splash {
  font-size: 24px;
  line-height: 24px;
}

#splash h1 {
  font-size: 3em;
  font-weight: 900;
  line-height: 1em;
}

/* END INDEX */

/*# sourceMappingURL=main.css.map */
